.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.matchupsTable {
  margin: auto;
  text-align: center;
}

.matchupsTable th {
  text-transform: uppercase;
}

.matchupsTable td {
  padding: 8px 12px;
}

.technique_category_row {
  width: 40%;
}

.force,
.push,
.dodge,
.throw,
.default,
.uncategorized {
  border-radius: 4px;
  text-align: center;
  color: var(--white);
  padding: 0px 8px;
  width: 50%;
  margin: auto;
}

.force {
  background-color: var(--force);
}

.push {
  background-color: var(--push);
}

.dodge {
  background-color: var(--dodge);
}

.throw {
  background-color: var(--throw);
}

.default {
  background-color: var(--default);
}

.uncategorized {
  background-color: var(--uncategorized);
  color: var(--black);
}
