.rikishiSelection {
  flex-direction: row;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

.rikishiSelection input {
  width: 200px;
  margin: 5px auto;
}

.nameList {
  height: 200px;
  overflow: scroll;
  margin: 5px auto;
}

.nameList .rikishiOption {
  display: flex;
  margin: 10px 0;
  cursor: pointer;
  width: min-content;
}

.nameList .rikishiOption p {
  margin: auto 0;
  background-color: var(--color-background);
  padding-right: 10px;
  border-radius: 4px;
}

.rikishiSelection img {
  width: 50px;
  height: 50px;
  border-radius: 90px;
  border: 2px solid;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .nameList {
    padding-left: 50px;
  }
}
