.selectedRikishi {
  margin: auto 0;
  text-align: center;
  cursor: pointer;
}

.selectedRikishi img {
  width: 150px;
  height: 150px;
  border-radius: 90px;
  border: 2px solid;
  margin-right: 10px;
}

/* TODO: switch 90 and 10 here when finihsed making light scheme
 */
@media (prefers-color-scheme: dark) {
  .selectedRikishi:hover > img,
  .selectedRikishi:hover > h3 {
    filter: brightness(90%);
  }
}

@media (prefers-color-scheme: light) {
  .selectedRikishi:hover > img,
  .selectedRikishi:hover > h3 {
    filter: brightness(50%);
  }
}
