.wrapper {
  height: 70%;
  padding: 0 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filters {
  align-items: center;
  padding: 20px;
  font-size: 16px;
}

.filters label {
  align-items: center;
  padding-right: 20px;
}

.filters label span {
  padding-right: 10px;
}

.filters label input {
  width: 100%;
}

.dropdowns {
  padding-top: 10px;
}

.not_found {
  font-size: 18px;
  padding-top: 25px;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 0 20px 20px 20px;
  }
  .filters {
    display: flex;
    justify-content: flex-start;
    padding: 25px;
  }

  .filters label {
    display: flex;
  }

  .filters label input {
    width: 300px;
  }

  .dropdowns {
    padding-top: 0;
    display: flex;
  }
}
