.wrapper {
  height: 70%;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
  font-size: 16px;
}

.filters label {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.filters label span {
  padding-right: 10px;
}

.filters label input {
  width: 300px;
  border: 1px solid var(--gray-black);
}

.not_found {
  font-size: 18px;
  padding-top: 25px;
}
