.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.matchupsTable {
  margin: auto;
  text-align: center;
}

.matchupsTable th.rikishiName {
  text-transform: uppercase;
}

.matchupsTable :global(.resultTypeDropdown) {
  display: flex;
  flex-direction: column;
}

.matchupsTable :global(.resultTypeDropdown) select {
  text-align: center;
}

.matchupsTable td {
  padding: 8px 12px;
}

.matchupsTable td.dateEntry {
  padding: 0;
}

.technique_category_row {
  width: 40%;
}

.force,
.push,
.dodge,
.throw,
.default,
.uncategorized {
  border-radius: 4px;
  text-align: center;
  color: var(--white);
  padding: 0px 8px;
  margin: auto;
}

.force {
  background-color: var(--force);
}

.push {
  background-color: var(--push);
}

.dodge {
  background-color: var(--dodge);
}

.throw {
  background-color: var(--throw);
}

.default {
  background-color: var(--default);
}

.uncategorized {
  background-color: var(--uncategorized);
}
