.container {
  flex-direction: row;
  padding: 10px;
}

.container header {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px 0;
}

.info {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.headshot {
  width: 180px;
  height: 180px;
  border-radius: 100px;
  border: 2px solid;
}

.info h2 {
  padding-top: 20px;
}

.rank_over_time h2 {
  text-align: center;
}

.technique_breakdown {
  padding-top: 20px;
}

.breakdown_row {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.breakdown_row:last-child {
  padding-top: 25px;
}

.category {
  text-align: center;
}

.technique h2 {
  padding-bottom: 10px;
  text-align: center;
}

.techniqueLosses {
  padding-top: 30px;
}

@media (min-width: 768px) {
  .container header {
    flex-direction: row;
    padding: 25px;
  }

  .info {
    width: 20%;
    padding-bottom: 0;
  }

  .breakdown_row {
    flex-direction: row;
  }

  .techniqueLosses {
    padding-top: 0px;
  }

  .technique h2 {
    padding-bottom: 30px;
  }
}
