.container {
  padding: 25px;
}

.container header {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.info {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headshot {
  width: 180px;
  height: 180px;
  border-radius: 100px;
  border: 2px solid;
}

.info h2 {
  padding-top: 20px;
}

.rank_over_time h2 {
  text-align: center;
}

.technique_breakdown {
  padding-top: 20px;
}

.breakdown_row {
  display: flex;
  justify-content: space-around;
}

.breakdown_row:last-child {
  padding-top: 25px;
}

.category {
  text-align: center;
}

.technique h2 {
  padding-bottom: 30px;
  text-align: center;
}
