.wrapper {
  padding: 10px;
}

.filters {
  padding-bottom: 25px;
  font-size: 16px;
}

.filters input {
  width: 100%;
  margin-top: 10px;
}

.h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-text);
}

.dayNav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 15px 5px 25px 5px;
  overflow: auto;
}

.dayNavItem {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--color-text);
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.dayNavItem.selected {
  background-color: var(--color-selected-item);
  color: var(--background-gray-dk);
}

.tableWrapper {
  overflow: scroll;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 20px;
  }

  .dayNavItem {
    margin: 10px;
  }

  .filters input {
    margin-left: 10px;
    margin-top: 0;
    width: 300px;
  }
}
