.table {
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
}

.thead {
  border-bottom: 1px solid;
  background-color: var(--color-heading-background);
  position: sticky;
  top: 0;
  z-index: 999;
}

.th {
  padding: 15px;
  text-align: left;
  font-weight: bold;
  user-select: none;
}

.th.sortable {
  cursor: pointer;
}

.th span {
  padding-left: 5px;
}

.td {
 padding: 15px;
 vertical-align: middle;
}

.td.withImage {
  display: flex;
  align-items: center;
}

.td.withImage img {
	width: 50px;
	height: 50px;
	border-radius: 90px;
	border: 2px solid;
  margin-right: 10px;
}

.td.clickable {
  cursor: pointer;
}

.td.clickable span {
	border-bottom: 1px solid var(--color-background);
	transition: 0.4s;
}

.td.clickable:hover span {
  border-bottom-color: var(--color-text);
}
