.wrapper {
  width: 50%;
  margin: auto;
  padding-top: 50px;
}

.img.small {
  --size: 100px;
}

.img.medium {
  --size: 200px;
}

.img.large {
  --size: 300px;
}

.img {
  height: var(--size);
  position: relative;
  animation: move 2s infinite alternate;
}

@keyframes move {
  from {
    transform: translate3d(50px, 0, 0);
  }
  to {
    transform: translate3d(-50px, 0, 0);
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 5%;
    margin: auto;
  }

  @keyframes move {
    from {
      transform: translate3d(100px, 0, 0);
    }
    to {
      transform: translate3d(-100px, 0, 0);
    }
  }
}
