.wrapper {
  text-align: center;
  padding: 20px;
}

.page, .carrot {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  user-select: none;
}

.page.active, .carrot.active {
  background-color: var(--selected-item);
  color: var(--background-gray-dk);
}
