.tooltip {
  background-color: var(--color-tooltip-background);
  color: var(--black);
  padding: 3px 12px;
  font-size: 1rem;
  font-family: sans-serif;
  border: 1px solid var(--color-tooltip-border);
  border-radius: 5px;
  box-shadow: 1px 1px 4px var(--color-tooltip-border);
}

.tooltip h4 {
  margin-bottom: 5px;
  border-bottom: 1px solid var(--black);
}

.tooltip p {
  font-size: 14px;
  border-radius: 4px;
}

.sanyakuLine {
  stroke: var(--color-graph-sanyaku-line);
  stroke-width: 2px;
}

.maegashiraLine {
  stroke: var(--color-graph-maegashira-line);
  stroke-width: 2px;
}

.sanyakuLabel {
  fill: var(--color-graph-sanyaku-text);
}

.maegashiraLabel {
  fill: var(--color-graph-maegashira-text);
}

.sanyakuPoint {
  fill: var(--color-graph-sanyaku-point);
}

.maegashiraPoint {
  fill: var(--color-graph-maegashira-point);
}

.label,
.point {
  fill: var(--color-graph-default);
}

.gridLine {
  stroke: var(--color-graph-default);
}
