.technique_breakdown_table {
  border-collapse: collapse;
  width: 100%;
}

.technique_breakdown_table tbody,
.technique_breakdown_table thead {
  text-align: left;
}

.technique_breakdown_table thead th {
  border-bottom: 1px solid #ccc;
}

.technique_breakdown_table thead th,
.technique_breakdown_table tbody td {
  padding: 5px;
}

.technique_breakdown_table tr:nth-child(even) {
  background-color: var(--color-table-emphasis);
}

.technique_breakdown_table tbody tr:hover {
  background-color: var(--color-table-emphasis);
}

.technique_category div {
  border-radius: 4px;
  text-align: center;
}

.force,
.push,
.dodge,
.throw,
.default,
.uncategorized {
  color: var(--white);
}

.force {
  background-color: var(--force);
}

.push {
  background-color: var(--push);
}

.dodge {
  background-color: var(--dodge);
}

.throw {
  background-color: var(--throw);
}

.default {
  background-color: var(--default);
}

.uncategorized {
  background-color: var(--uncategorized);
}

@media (min-width: 768px) {
  .technique_breakdown_table thead th,
  .technique_breakdown_table tbody td {
    padding: 8px;
  }
}
