.wrapper {
  height: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filters {
  padding: 25px;
  display: flex;
  justify-content: flex-start;
}

.search span {
  padding-right: 10px;
}

.checkboxes {
  margin-top: 2px;
}

.checkboxes label span {
  padding-right: 5px;
}
