.wrapper {
  padding: 25px;
  height: 100%;
}

.ring {
  position: relative;
  display: flex;
  justify-content: space-around;
  border: 2px solid;
  border-radius: 500px;
  height: 80%;
  width: 65%;
  margin: auto;
}

.middleColumn {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 70%;
  margin-top: auto;
  text-align: center;
}

button.go {
  border: none;
  border-radius: 4px;
  font-size: 24px;
  pointer-events: none;
  filter: brightness(0.5);
}

button.go.active {
  cursor: pointer;
  pointer-events: all;
  filter: brightness(1);
}
