.wrapper {
  padding: 25px 10px;
  height: 100%;
}

.ring {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}

.middleColumn {
  padding: 15px;
}

.middleColumn h2 {
  display: none;
}

.matchupsResultsWrapper {
  padding-top: 20px;
}

/* tablet and bigger */
@media (min-width: 768px) {
  .wrapper {
    padding: 25px;
  }

  .ring {
    flex-direction: row;
    border: 5px solid;
    border-radius: 500px;
    height: 80%;
    width: 650px;
  }

  .middleColumn {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: auto 0;
  }

  .middleColumn h2 {
    display: block;
  }
}
