:root {
  --white: #ffffff;
  --black: #000;
  --gray-black: #333;
  --background-white: #eee;
  --light-gray: #ccc;
  --blue: #a6bddb;
  --blue-dark: #1a447a;
  --background-gray-dk: #282d33;
  --background-md-gray-dk: #5b6775;
  --text-gray: #333;
  --text-gray-blue: #333373;
  --text-gray-dk: #adbac7;
  --red: #cf005d;
  --red-dk: #800026;
  --header-dk: #223333;
  --header-lt: #a0d9db;
  --selected-item-dk: #869cfa;
  --selected-item-lt: #e09b9b;
  --ring-lt: #d6b49a;
  --tooltip-background: #f7f7f7;
  --tooltip-border: #bbbbbb;

  --force: #e41a1c;
  --push: #33a02c;
  --dodge: #377eb8;
  --throw: #984ea3;
  --default: #252525;
  --uncategorized: #ccc;
}

/* semantic color variables for this project */
:root {
  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--background-white);
    --color-background-soft: var(--background-md-gray-dk);
    --color-tooltip-background: var(--tooltip-background);
    --color-tooltip-border: var(--tooltip-border);
    --color-heading-background: var(--header-lt);
    --color-input-background: var(--white);
    --color-input-hover: var(--light-gray);
    --color-input-border: var(--gray-black);
    --color-text: var(--text-gray);
    --color-anchor: var(--red-dk);
    --color-active: var(--blue-dark);
    --color-text-active: var(--text-gray-blue);
    --color-heading-underline: var(--red);
    --color-selected-item: var(--selected-item-lt);
    --color-matchup-ring: var(--ring-lt);
  }
}

/* this is the dark color theme...
 * setting to light for now so i can build light w/o
 * changing my browser color scheme */
@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--background-gray-dk);
    --color-background-soft: var(--background-md-gray-dk);
    --color-tooltip-background: var(--tooltip-background);
    --color-tooltip-border: var(--tooltip-border);
    --color-heading-background: var(--header-dk);
    --color-input-background: var(--background-white);
    --color-input-hover: var(--light-gray);
    --color-input-border: var(--gray-black);
    --color-text: var(--text-gray-dk);
    --color-anchor: var(--red-dk);
    --color-active: var(--blue-dark);
    --color-text-active: var(--blue);
    --color-heading-underline: var(--red-dk);
    --color-selected-item: var(--selected-item-dk);
    --color-matchup-ring: var(--black);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html,
body,
#root,
#app {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* min-height: 100vh; */
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  padding: 5px 10px;
  background-color: var(--color-input-background);
  border: 1px solid var(--color-input-border);
  border-radius: 4px;
  width: 300px;
  font-size: 15px;
}

input:hover {
  background-color: var(--color-input-hover);
}

@media (min-width: 768px) {
  body {
    font-size: 15px;
  }

  input {
    font-size: 16px;
  }
}
