// universal
$white: #fff;
$black: #000;
$gray-black: #333;
$sun-yellow: #fed976;
$moon-blue: #a6bddb;

// light theme
$border-gray-lt: #ccc;
$red-lt: #bd0026;


// dark theme
$background-gray-dk: #24292e;
$text-gray-dk: #bcbddc; //#bdbdbd;
$red-dk: #800026;

