html {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @import './colors';
  @import './react-toggle';
  font-size: 14px;

  #sumo-site {
    background-color: $white;
    margin: auto;
    // this fixes the footer, but page content needs to scroll...
    //height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .page-body {
      margin: 0 50px;
    }

    h1 {
      margin: 0px;
      font-size: 40px;
      font-weight: 700;
    }

    h2 {
      font-size: 18px;
    }

    p {
      margin: 0;
      font-size: 16px;
    }

    .rikishi-list {
      padding: 10px;

      .rikishi-list-item {
        display: flex;
        padding-bottom: 20px;

        // these are 160 x 160 files, but look good at 60 x 60
        .img {
          width: 60px;
          height: 60px;
          border-radius: 90px;
          background-size: contain;
          background-position: left;
          // border? no border? softer border color?
          border: 1px solid $black;
        }
        .name {
          color: $gray-black;
          font-size: 18px;
          padding: 20px;
        }
      }
    }

    // import specific files here
    @import './header';
    @import './menu-bar';

    .footer {
      padding: 10px;
      text-align: right;
      font-weight: 700;
      font-size: 14px;
    }
  }
  @import './dark-theme';
}


// tablet and bigger
@media (min-width: 768px) {
  html {
    #sumo-site {
      max-width: 100%;
      h1 {
        font-size: 50px;
      }
      h2 {
        font-size: 24px;
      }
      p {
        font-size: 20px;
      }
      .footer {
        padding: 15px;
        font-size: 16px;
      }
    }
  }
}
